<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dojo Secrets</title>
    </head>
    <body>
        <a href="{% url 'loginReg:logout'%}">Logout</a>
        <h1>Shhhhhhh... Welcome, {{user.first_name}}</h1>
        <form action="{% url 'secrets:post_secret' %}" method="post">
            {% csrf_token %}
            <textarea name="secret" rows="8" cols="80" placeholder="Write your secret here, if you dare"></textarea>
            <p><input type="submit" value="Post"></p>
        </form>
        <a href="#">Most Popular Secrets</a>
        <h2>Recent Secrets:</h2>
        {% for secret in secrets %}
            <p>{{secret.secret}} ({{secret.created_at}})</p>
            {% if request.session.uid == secret.user.id %}
            <p>You posted this <a href="{% url 'secrets:delete_secret' id=secret.id %}">Delete</a></p>
            {% elif liked %}
            <p>You liked this</p>
            {% else %}
            <p> likes <a href="{% url 'secrets:like_secret' id=secret.id %}">Like</a></p>
            {% endif %}
            <br>
        {% endfor %}

    </body>
</html>
