<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>i got feels</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'lyricsMaker_static/css/style.css' %}">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="{% static 'lyricsMaker_static/js/script.js' %}"></script>
    </head>
    <body>
        <div class="song">
            <p>{{song.genre}}</p>
            <p>{{song.subj}}</p>
            <p>{{song.pronouns}}</p>
        </div>

    </body>
</html>
