<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Quotsy</title>
    </head>
    <body>
        <h1>Quotsy</h1>
        <form action="#" method="post">
            {% csrf_token %}
            <input type="submit" value="get quotes">
        </form>
        <h3>Pablo Picasso</h3>
        <p>"Lorem ipsum dolor sit amet!"</p>
        <br>
        <h3>Albert Einstein</h3>
        <p>"Lorem ipsum dolor sit amet!"</p>
        <br>
        <h3>Malcolm X</h3>
        <p>"Lorem ipsum dolor sit amet!"</p>
        <br>
    </body>
</html>
