<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>User Demo</title>
    </head>
    <body>
        <h2>User Demo</h2>
        <form action="/create" method="post">
            <p>First Name: <input type="text" name="first_name"></p>
            <p>Last Name: <input type="text" name="last_name"></p>
            <p>Age: <input type="text" name="age"></p>
            <p><input type="submit" value="create user"></p>
            {{users}}
            {% for user in users %}
            <p>{{ user['first_name'] }}</p>
            <p>{{ user['last_name'] }}</p>
            <p>{{ user['age'] }}</p>
            {% endfor %}
        </form>
    </body>
</html>
