<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Edit User</title>
    </head>
    <body>
        {% for friend in all_friends %}
            <form action="/friends/{{ friend['id'] }}" method="post">
                <p>First name: <input type="text" name="first_name" value="{{ friend['first_name'] }}"></p>
                <p>Last name:<input type="text" name="last_name" value="{{ friend['last_name'] }}"></p>
                <p>Occupation: <input type="text" name="occupation" value="{{ friend['occupation'] }}"></p>
                <p><input type="submit" value="Update"></p>
            </form>
        {% endfor %}
    </body>
</html>
