<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Course Registration | Sign Up</title>
    </head>
    <body>
        <a href="{% url 'courses:dashboard' %}">Go back</a> |
        <a href="{% url 'loginReg:logout' %}">Logout</a>
        <h1>Sign up for a course</h1>
        <form action="{% url 'courses:join_course' %}" method="post">
            {% csrf_token %}
            <select name="user">
                {% for user in users %}
                <option value="{{user.id}}">{{ user.first_name }}</option>
                {% endfor %}
            </select>
            <select name="course">
                {% for course in courses %}
                <option value="{{course.id}}">{{ course.name }}</option>
                {% endfor %}
            </select>

            <input type="submit" value="Join">
        </form>
        <table>
            <thead>
                <tr>
                    <td>Course Number</td>
                    <td>Course Name</td>
                    <td>Number of Users</td>
                </tr>
            </thead>
            <tbody>
            {% for course in courses %}
                <tr>
                    <td>{{course.id}}</td>
                    <td>{{course.name}}</td>
                    <td>{{ signUps.num_user }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </body>
</html>
