* {
    font-family: sans-serif;
}

#add_course {
    display: flex;
    align-items: flex-start;
}

.to_delete {
    display: flex;
    justify-content: flex-start;
}

table {
    border: 1px solid black;
}

th, td {
    border: 1px solid black;
    padding: 5px 15px;
}
